streamlit==1.41.0 
streamlit-chat 
pandas 
numpy 
boto3
langchain_aws 
langchain 
langchain_community 
langchain_experimental
langchain_text_splitters
tavily-python==0.5.0 
yfinance==0.2.52 
pytz==2024.2 
beautifulsoup4==4.12.3
plotly_express==0.4.1 
matplotlib==3.10.0
PyPDF2==3.0.1 
opensearch-py
mcp 
wikipedia
aioboto3 
requests 
uv 
kaleido 
diagrams 
reportlab
strands-agents 
strands-agents-tools
pyyaml
streamlit-paste-button
Pillow